* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

/* ========================================================================== */
/*  HEADER */
/* ========================================================================== */
#header {
    background: #415893;
    color: white;
    padding: 1.5rem;
}

#header a {
    text-decoration: none;
    color: white;
}

#header a:hover {
    color: #e8e8e8;
}

#header .logo-area {
    display: inline-block;
    width: 20%;
}

#header .logo-area a{
    font-size: 2.5rem;
    text-transform: lowercase;
}

#header .menu-area {
    display: inline-block;
    font-size: 1.5rem;
    width: 20%;
    text-align: right;
    padding-right: 2rem;
}

#header .menu-area ul li {
    display: inline-block;
    margin-right: 2rem;
}

#header .icons-area {
    display: inline-block;
    font-size: 1.5rem;
    width: 20%;
    padding-left: 2rem;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 2rem;
    text-align: center;
}

#header .icons-area ul li {
    display: inline-block;
    padding: .5rem;
}

#header .icon-items {
    display: inline-block;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 2rem;
}

#header .icon-item-lock {
    display: inline-block;
    padding-left: 2rem;
}

#header .search-area {
    display: inline-block;
    width: 40%;
    text-align: right;
    font-size: 1.5rem;
    
}

#header .search-area ul li {
    display: inline-block;
}

#header input[type="text"] {
    background: transparent;
    font-size: 1.2rem;
    width: 20rem;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}

#header input[type="text"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

#header input[type="text"]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

#header input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

/* ========================================================================== */
/* Top Area */
/* ========================================================================== */

#top-area {
    padding: 20rem 1.5rem 9rem 1.5rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("https://images.unsplash.com/photo-1502786129293-79981df4e689?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ca8929ea79462f07dc08e1245b63aa75&auto=format&fit=crop&w=900&q=60");
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1502786129293-79981df4e689?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ca8929ea79462f07dc08e1245b63aa75&auto=format&fit=crop&w=900&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#top-area .profile-info .user-image {
    padding: 10px;
    display: inline-block;
}

#top-area .profile-info .user-img img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

#top-area .profile-info .user-details {
    display: inline-block;
    vertical-align: top;
}

#top-area .profile-info .user-details h3{
    color: white;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

#top-area .profile-info .user-details a{
    color: white;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding: .5rem 1rem;
    margin-right: 1.5rem;
    border-radius: 4px;
}

#top-area .profile-info .user-details a:hover{
    background: #2195f383;
    transition: all .3s ease-in-out;
}

/* ========================================================================== */
/* Content */
/* ========================================================================== */

#content-area {
    background: #fafafa;
    overflow: auto;
    padding: 5rem 0;
}

#content-area .widget-box {
    padding: 1.5rem;
    background: #fff;
    margin: 0 0 1.5rem 0;
    border-radius: 3px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

/* #content-area .widget-box .head {
    
} */

#content-area .widget-box .head .widget-icon-container {
    display: inline-block;
}

#content-area .widget-box .head .widget-icon {
    background: #bfbfbf;
    color: #fff;
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-area .widget-box .head .widget-title {
    display: inline-block;
    padding: 0 0 0 1rem;
}

#content-area .widget-box .body {
    padding: 1.5rem 0;
}

#content-area .side-column {
    float: left;
    width: 35%;
    margin: 0 2.5%;
    max-width: 380px;
}


#content-area .main-area {
    float: left;
    width: 55%;
    margin: 0 2.5%;
  
}

#content-area .photos-img {
    width: 33%;
    height: 110px;
}